{% extends 'partials/small_dark_card.html' %}
{% block contents %}
  <div class="card-header">
    <h1 class="card-title">Change Password</h1>
  </div>
  <div class="card-body">
      <form class="novalidate" action="{% url 'change_password'%}" method="post">
        {% csrf_token %}
        <ul class="list-group list-group-flush">
          {% include 'partials/form.html' with form=form %}
          <li class="list-group-item bg-dark text-white">
            <input type="submit" value="Change Password" class="btn btn-outline-light text-white">
          </li>
        </ul>
      </form>
  </div>
{% endblock %}
