{% extends 'partials/dark_card.html' %}
{% block contents %}

<div class="card-header">
  <h1 class="card-title">Clubs List</h1>
</div>

<div class="card-body">

  <div class="row justify-content-end">
    <div class="col"></div>
    <div class="col-auto">
      <form action="{% url 'clubs_list' %}" method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
          <input type="search" placeholder="Search club" name="searched_letters">
          <button type="submit" name ="search_btn" class="btn btn-outline-light text-white">Search</button>
        </div>
      </form>
    </div>
  </div>

  <div class="row justify-content-end">
    <div class="col"></div>
    <div class="col-auto">
      <form action="{% url 'clubs_list' %}" method="post" id="form_sort">
          {% csrf_token %}
        <select name="sort_table" class="btn btn-outline-light text-white" onchange="this.form.submit()">
            <option disabled="true" selected>--Sort By--</option>
            <option value="name">Club Name</option>
        </select>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table table-dark table-striped">
        <thead class="table-dark">
          <h2>Clubs</h2>
        </thead>
        <tbody>
          {% for club in clubs %}
            <tr>
              <td>
                <a href='#'>
                  {{ club }}
                </a>
              </td>
            </tr>
          {% empty %}
           EMPTY
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
</div>
