{% extends 'partials/base_partials/dark_card.html' %}
{% block contents %}
  <div class="card-header">
    <h1 class="card-title">Create Club</h1>
  </div>
  <div class="card-body">
    <form class="novalidate" action="{% url 'create_club'%}" method="post">
      {% csrf_token %}
      <ul class="list-group list-group-flush">
        {% include 'partials/form.html' with form=form %}
        <li class="list-group-item bg-dark text-white">
          <input type="submit" value="Create Club" class="btn btn-outline-light text-white">
        </li>
      </ul>
    </form>
  </div>
{% endblock %}
