{% extends 'partials/wide_dark_card.html' %}
{% block contents %}
<div class="card-header">
  <h1 class="card-title">
    <i class="bi bi-speedometer2"></i> Dashboard
  </h1>
</div>

<div class="card-body">

  <div class="row justify-content-end">
    <div class="col"></div>
    <div class="col-auto">
      <form action="{% url 'dashboard' %}" method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
          <input type="search" placeholder="Search current clubs" name="searched_letters" style="border: 1in;">
          <button type="submit" name ="search_btn" class="btn btn-outline-light text-white">
            Search <i class="bi bi-search"></i>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="row justify-content-end">
    <div class="col-auto">
      <form action="{% url 'dashboard' %}" method="post" id="form_sort">
          {% csrf_token %}
        <select name="sort_table" class="btn btn-outline-light text-white" onchange="this.form.submit()">
            <option disabled="true" selected>--Sort By--</option>
            <option value="name">Club Name</option>
            <option value="city">City</option>
        </select>
      </form>
    </div>
  </div>

  <h2>My Clubs</h2>
  <a href="{% url 'create_club' %}" class="btn btn-outline-light">Create Club</a>

  <div class="row">

    {% for club,auth in club_auth %}
      <div class="col-auto">
        <div class="card bg-secondary text-end text-white mx-3 my-3" style="width: 18rem; height: 11rem;">
          <div class="card-body">
            <h5 class="card-title">{{club.name}}</h5>
            <p class="card-text">{{club.city}}</p>
            <p class="card-text">{{auth}}</p>
            <a href="{% url 'show_club' club.id %}" class="btn btn-dark">View Club</a>
          </div>
        </div>
      </div>
    {% endfor %}



  </div>
  <h2>Other Clubs</h2>
  <div class="row">
    {% for club in other_clubs %}
      <div class="col-auto">
        <div class="card bg-secondary text-end text-white mx-3 my-3" style="width: 18rem; height: 10rem;">
          <div class="card-body">
            <h5 class="card-title">{{club.name}}</h5>
            <p class="card-text">{{club.city}}</p>
            <a href="{% url 'show_club' club.id %}" class="btn btn-dark">View Club</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
