{% extends 'partials/wide_dark_card.html' %}
{% block contents %}
<div class="card-header">
  <h1 class="card-title">Members List</h1>
</div>

<div class="card-body">

  <div class="row justify-content-end">
    <div class="col"></div>
    <div class="col-auto">
      <form action="{% url 'members_list' club_id %}" method="post" id="form_bar">
        {% csrf_token %}
        <div class="input-group mb-3">
          <input type="search" placeholder="Search member" name="searched_letters" style="border: 1in;">
          <button type="submit" name ="search_btn" class="btn btn-outline-light text-white">
            Search
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-search" viewBox="0 0 18 18">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="row justify-content-end">
    <div class="col"></div>
    <div class="col-auto">
      <form action="{% url 'members_list' club_id %}" method="post" id="form_sort">
          {% csrf_token %}
        <select name="sort_table" class="btn btn-outline-light text-white" onchange="this.form.submit()">
            <option disabled="true" selected>--Sort By--</option>
            <option value="first_name">First Name</option>
            <option value="last_name">Last name</option>
        </select>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table table-dark table-striped">
        <thead class="table-dark">
          <h2>Owner</h2>
        </thead>
        <tbody>
          {% for owner in owners %}
            <tr>
              <td>
                <img src="{{ owner.mini_gravatar }}" alt="Gravatar of {{ owner.get_full_name }}">
              </td>
              <td>
                <a href="{% url 'show_member' club_id owner.id %}">
                  {{ owner.get_full_name }}
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  <div class="row">
    <div class="col-6">
      <table class="table table-dark table-striped">
        <thead class="table-dark">
          <h2>Members</h2>
        </thead>
        <tbody>
          {% for member in members %}
            <tr>
              <td>
                <img src="{{ member.mini_gravatar }}" alt="Gravatar of {{ member.get_full_name }}">
              </td>
              <td>
                <a href="{% url 'show_member' club_id member.id %}">
                  {{ member.get_full_name }}
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-6">
      <table class="table table-dark table-striped">
        <thead class="table-dark">
          <h2>Officers</h2>
        </thead>
        <tbody>
          {% for officer in officers %}
            <tr>
              <td>
                <img src="{{ officer.mini_gravatar }}" alt="Gravatar of {{ officer.get_full_name }}">
              </td>
              <td>
                <a href="{% url 'show_member' club_id officer.id %}">
                  {{ officer.get_full_name }}
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>
{% endblock %}
</div>
</div>
