<!DOCTYPE html>
<html>
  <head>
    <title>Members List</title>
  </head>

  <body>
    <h1>Members List</h1>
    <form action="{% url 'members_list' %}" method="post">
      {% csrf_token %}
      <input type="search" placeholder="Search member" name="searched_letters">
      <button type="submit">Search</button>
    </form>
    <table>
      {% for member in members %}
        <tr>
          <td>
            <a href="{% url 'show_member' member.id %}">
              {{ member.first_name }} {{member.last_name }}
            </a>
          </td>
        </tr>
      {% endfor %}
  </body>
</html>
