{% extends 'partials/dark_card.html' %}
{% block contents %}

  <div class="card-header">
    <h1 class="card-title">Member Info</h1>
  </div>

  <div class="card-body">
    <table class="table table-dark table-striped">

      <thead class="table-dark">
        <h2>{{ member.first_name }} {{member.last_name }}</h2>
        <p class="mb-2 text-muted">{{ authorizationText }}</p>
      </thead>

      <tbody>

        <tr>
          <td>
            <img src="{{ member.gravatar }}" alt="Gravatar of {{ member.first_name }} {{member.last_name }}">
          </td>
        </tr>

        <tr>
          <td>
              Bio: {{ member.bio }}
          </td>
        </tr>

        {% if request_from_owner or request_from_officer %}

        <tr>
          <td>
              Email: {{ member.email }}
          </td>
        </tr>

        <tr>
          <td>
              Chess experience: {{ member.chess_experience }}
          </td>
        </tr>

        <tr>
          <td>
              Personal statement: {{ member.personal_statement }}
          </td>
        </tr>

        {% endif %}

        {% if request_from_owner %}
        
          {% if authorizationText == 'Member' %}
            <tr>
              <td>
                <a href="{% url 'promote_member' member.id%}" class="btn btn-outline-light text-white">Promote to officer</a>
              </td>
            </tr>

          {% elif authorizationText == 'Officer' %}
            <tr>
              <td>
                <a href="{% url 'demote_officer' member.id%}" class="btn btn-outline-light text-white">Demote to member</a>
              </td>
            </tr>

            <tr>
              <td>
                <a href="{% url 'transfer_ownership' member.id%}" class="btn btn-outline-light text-white">Transfer ownership</a>
              </td>
            </tr>

          {% endif %}
        {% endif %}

      </tbody>
    </table>
  </div>
{% endblock %}
