{% extends 'partials/dark_card.html' %}
{% block contents %}

  <div class="card-header">
    <h1 class="card-title">Member Info</h1>
  </div>

  <div class="card-body">
    {% include 'partials/user_profile.html' %}
    <div>
    {% if my_authorization == 'Owner' %}
      {% if authorizationText == 'Member' %}
          <a href="{% url 'promote_member' club_id user.id%}" class="btn btn-outline-light text-white">Promote to officer</a>
          <a href="{% url 'remove_user' club_id user.id%}" class="btn btn-outline-light text-white">Remove member</a>
      {% elif authorizationText == 'Officer' %}
          <a href="{% url 'demote_officer' club_id user.id%}" class="btn btn-outline-light text-white">Demote to member</a>
          <a href="{% url 'transfer_ownership' club_id user.id%}" class="btn btn-outline-light text-white">Transfer ownership</a>
          <a href="{% url 'remove_user' club_id user.id%}" class="btn btn-outline-light text-white">Remove officer</a>
      {% endif %}
    {% endif %}

    {% if my_authorization == 'Officer' %}
      {% if authorizationText == 'Member' %}
          <a href="{% url 'remove_user' club_id user.id%}" class="btn btn-outline-light text-white">Remove member</a>
      {% endif %}
    {% endif %}
    </div>

    <div>
      <br>
      <a href="{% url 'members_list' club_id %}" class="btn btn-outline-light text-white">Back</a>
    </div>
  </div>
{% endblock %}
