{% extends 'partials/dark_card.html' %}
{% block contents %}
  <div class="card-header">
    <h1 class="card-title">Application</h1>
  </div>
  <div class="card-body">
    <table class="table table-dark table-striped">
      <thead class="table-dark">
        <h2>{{ applicant.get_full_name }}</h2>
      </thead>
      <tbody>

        <tr>
          <td>
            <img src="{{ applicant.gravatar }}" alt="Gravatar of {{ applicant.get_full_name }}">
          </td>
        </tr>

        <tr>
          <td>
              Bio: {{ applicant.bio }}
          </td>
        </tr>

        <tr>
          <td>
              Email: {{ applicant.email }}
          </td>
        </tr>

        <tr>
          <td>
              Chess experience: {{ applicant.chess_experience }}
          </td>
        </tr>

        <tr>
          <td>
              Personal statement: {{ applicant.personal_statement }}
          </td>
        </tr>

      </tbody>
    </table>
    <div>
      <a href="{%url 'approve_applicant' club_id applicant.id%}" class="btn btn-outline-light text-white">Approve Application</a>
      <a href="{%url 'reject_applicant' club_id applicant.id%}" class="btn btn-outline-light text-white">Reject Application</a>
    </div>
    <div>
      <br>
      <a href="{% url 'applicants_list' club_id %}" class="btn btn-outline-light text-white">Back</a>
    </div>
  </div>
{% endblock %}
