<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <div class="container">
    {% load static %}
    <img src="{% static 'images/orangutan_logo.png' %}" alt="Orangutan Logo" width="50" height="50" >
    <a class="navbar-brand" href="{% url 'dashboard' %}">
      Orangutan
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% if user.is_authenticated %}
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% include 'partials/nav_partials/my_clubs.html' %}
        </ul>
        {% include 'partials/nav_partials/account_menu.html' %}
      </div>
    {% endif %}
  </div>
</nav>
